body {

    text-align: center;
}

.titulo {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 20px;
}

.title-fecha {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 5px;
    padding-bottom: 30px;
}

.titulo-countdown {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top: 5px;
}

.nombre-cumple {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: #046c52;
    margin-top: 5px;
}

.frase {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #01231b;
    margin-top: 5px;
}

#countdown {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    /* Lo bajamos para que no se salga en pantallas chicas */
    max-width: 90vw;
    /* Limita el ancho máximo relativo a la pantalla */
    text-align: center;
    /* Centra el texto dentro del contenedor */
    box-sizing: border-box;
}

.cuenta-regresiva {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

#mapa {
    margin: 10px;
}



footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #046c52;
    font-size: 20px;
    color: white;
    font-family: 'Pacifico', cursive;
}

.hr-vertical {
    width: 2px;
    height: 100px;
    /* o lo que necesites */
    background-color: #046c52;
    /* o #50C878 si querés esmeralda */
    margin: 0 20px;
}


.portada {
    background: #046C52;
    background: linear-gradient(90deg, rgba(4, 108, 82, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: #024d3a;
}

.corte {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}


#no-color {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-align: center;
    box-shadow: 0 4px 8px #046c52;
    width: 350px;
    margin: 30px auto; /* esto centra horizontalmente */
}


.ubicacion {
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
}

.alias-regalo {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-align: center;
    width: fit-content; /* o un valor fijo como 500px */
    margin: 0 auto;
}

.vestimenta {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    /* texto oscuro para contraste */
    text-align: center;

}


#fi-dress{
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: #e1a524;
}

#color-dress{
    font-family: "Great Vibes", cursive;
    color: #046c52;
    font-size: 30px;
    
}

.tarjeta-box {
    font-family: "Poppins", sans-serif;
    background: #fff9f9;
    border: 2px solid #f0d5e7;
    box-shadow: 0 0 15px rgba(240, 175, 207, 0.3);
    max-width: 600px;
    margin: 0 auto;
}

.text-style {
    font-family: "Great Vibes", cursive;
    color: #cc4c84;
    font-size: 3rem;
}

.chino-link {
    color: white;               /* Toma el color del padre */
    text-decoration: none;       /* Sin subrayado */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    
}

/* Efecto sutil al pasar el mouse */
.chino-link:hover {
    transform: scale(1.05);
}

.emoji-hand {
    display: inline-block;
    animation: wave 1.8s infinite;
    transform-origin: 70% 70%;
}

/* Animación de saludo tipo "wave" */
@keyframes wave {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(15deg); }
    30% { transform: rotate(-10deg); }
    45% { transform: rotate(15deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

/* Sombra solo para la palabra "Chino" */
.chino-shadow {
    text-shadow: 2px 2px 5px rgba(225, 108, 36, 0.7);  /* Sombra sutil de color naranja */
}

/* Efecto hover para cuando pasa el mouse */
.chino-link:hover {
    transform: scale(1.1);              /* Se agranda un poco al pasar el mouse */
}